*{
	box-sizing: border-box;
}
html,body{
	position: relative;
	font-family: 'Poppins', sans-serif;
}
.contact-header{
	background-color:#5A54B8;
	color:white;
	padding:10px 0px;
	position: relative;
}
.contact-header i,span{
	cursor: pointer;
}
.contact-header span{
	margin-right: 10px;
}
.contact-header i{
	margin-left: 10px;
}
.contact-header .header-social{
	text-align: right;
}
@media only screen and (max-width: 768px){
	.contact-header{
		text-align: center;
	}
	.contact-header .header-social{ 
		text-align: center;
	}
}


/*phần nav*/
nav{
	width: 100%;
	position: relative;
	z-index: 5;
}
nav .dropdown{
	position: relative;
	display: block;
}
nav .dropdown-content{
	display: none;
	box-shadow: 1px 1px 5px #9C9C9C;
	z-index: 6;
	opacity: 1;
	position:absolute;
}
nav .dropdown-content .dropdown-item{
	margin:5px 0px;
}
.dropdown-item{
	transition: padding-left 0.5s;
}
@media screen and (max-width: 992px){
	nav .navbar-nav{
		background-color: #7F7F7F;
	}
	nav .navbar-nav .nav-link{
		margin-left: 10px;
		color: white !important;
	}
	nav .dropdown-content{
		position: relative;
		border-radius: 3px;
	}
	nav .dropdown-item{
		color:white;
	}
}
@media screen and (min-width: 992px){
	nav .dropdown-content{
		position: absolute;
		border-radius: 5px;
		top:100%;
		background-color: white;
	}
}
.dropdown-item:hover{
	color:#FFB852;
	padding-left: 20px;
}
.nav-link:hover{
	color:#FFB852 !important;
}
.white-color{
	color:#FFFFFF !important;
}


/*phần banner*/
.banner{
	position: relative;
}
.banner .carousel-item img{
	width:100%;
}
.carousel-control-prev{
	visibility: hidden;
	position: absolute;
}
.carousel-control-next{
	visibility: hidden;
	position: absolute;
}
.banner:hover .carousel-control-prev{
	visibility: visible;
}
.banner:hover .carousel-control-next{
	visibility: visible;	
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
	width: 30px;
	height: 30px;
	top:50%;
	margin-top: -15px;
}
.banner .overlay{
	position: absolute;
	height: 100%;
	width: 100%;
	top:0;
	background-color: rgba(0,0,0,0.6);
}


/*phần feature*/
#feature{
	margin:30px 0px;
}
#feature .signle-box{
	text-align: center;
	color:#555;
	padding:20px;
	font-size: 80%;
	line-height: 1.8;
}
#feature .signle-box i{
	color:#FF9E06;
	font-size: 3rem;
	margin:20px;
	transition: transform 0.5s;
	cursor: pointer;
}
#feature .signle-box i:hover{
	transform: scale(1.2);
}
#feature .signle-box .separator{
	border-top:solid 1px rgba(0,0,0,.2);
	margin:10px 0px;
}

/*phần service-area*/
.service-area{
	background-color: #F7F7F9;
	padding:70px 0px;
	font-size: 80%;
	color:#555;
}
.service-area .title-service{
	margin:0 auto;
}
.service-area .single-service .icon{
	font-size: 2rem;
	color:#FF9E06;
}
.service-area .single-service{
	position: relative;
	background-color: #fff;	
	padding:20px;
	margin-top: 30px;
	transition: transform 0.5s;
}
.service-area .single-service:hover{
	transform:translateY(-5px);
	box-shadow: 0px 3px 10px rgba(0,0,0,.2);
}
